.buttonContainer {
  float: right;
  margin: 20px -10px 10px 10px;
  position: fixed;
  right: 2%;
  color: #ee6e73;
  font-size: 50px !important;
  cursor: pointer;
  z-index: 1000;
  background: none;
  border: none;
}
.buttonContainer:focus {
  background: none;
}

.openBasket {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  min-height: 240px;
  background-color: rgb(232, 241, 241);
  z-index: 1000;
  box-shadow: 0px 0px 32px #ee6e73;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}


